.main-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .main-nav__section {
    display: flex;
  }

  .main-nav__item {
    @include link-no-underscore;
    display: block;
    color: $color-black;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s color;
  }

  .main-nav__item:hover,
  .main-nav__item--active {
    color: $color-primary;
  }

  .main-nav__item--non-link:hover {
    color: $color-black;
  }
}